
body {
    background-image: url('woodback.jpg');
    margin:0;
    padding: 0;
}

.navbar {
    display:block;
    height: 67px;
}

.navbar ul {
    overflow: auto;
    margin-left: 700px;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 5px 50px;
}

.navbar li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Staatliches', cursive;
    transition: all;
}

.navbar li a:hover,li a.active {
    color: rgb(146, 78, 255);
    border-bottom: 2px solid white;
    transition-duration: 1s;
}

h2 {
    float: left;
    color: rgb(255, 255, 255);
    font-family: 'Yellowtail', cursive;
    margin: 10px 40px;
    border: 2px solid white;
    border-radius: 20px;
    width: 100px;
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 10px 500px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Yellowtail', cursive;
    box-shadow: 10px 10px 5px rgb(0, 0, 0); ;
}
#py{
    margin: 10px 550px;
}
.container1{
    display: flex;
}
.items{
    border: 2px solid rgb(0, 0, 0);
    color: black;
    background-color: blueviolet;
    width: 326px;
    height: 184px;
    margin: auto 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all;
}
.items:hover{
    transition-duration: 1s;
    color: rgb(146, 78, 255);
    border: 2px solid rgb(255, 255, 255);
}
#lib{
    background-image: url('books.jpg');
    background-size: 326px 184px;
    color: white;
}
#rps{
    background-image: url('rps2.jpg');
    background-size: 326px 184px;
    color: rgb(0, 0, 0);
    background-color: white;
}
#game{
    background-image: url('question1.jpg');
    background-size: 326px 184px;
    color: rgb(255, 255, 255);

}
.pro a{
    text-decoration: none;
    color: white;
}
.container2{
    display: flex;
    justify-content: center;
}
#web{
    background-image: url('oreo.jpg');
    background-size: 326px 184px;
    color: white;
}
#covid{
    background-image: url('covid.png');
    background-size: 326px 184px;
    color: rgb(0, 0, 0);
}